<configuration>
  <system.webServer>
    <handlers accessPolicy="Read, Execute, Script" />
        <defaultDocument>
            <files>
                <add value="logon.html" />
            </files>
        </defaultDocument>
        <httpErrors>
            <error statusCode="403" subStatusCode="4" path="https://raccess.rockarch.org/" responseMode="Redirect" />
        </httpErrors>
  </system.webServer>
</configuration>
